<div class="modal fade" id="acceptModal" tabindex="-1" role="dialog" aria-labelledby="acceptModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<a class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
				<h4 class="modal-title" id="acceptModalLabel">用户审核通过确认</h4>
			</div>
			<div class="modal-body">
				<p style="display:none;">
					<span id="accept-id"></span>
					<span id="accept-username"></span>
				</p>
				<p>
					<span id="accept-message">?</span>
				</p>
			</div>
			<div class="modal-footer">
				<button type="button"class="btn btn-default" data-dismiss="modal">取消</button>
				<button id="accept-confirm" type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
			</div>
		</div>
	</div>
</div>

