<div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<form action="" method="post">
				{{ form.hidden_tag() }}
				<div class="modal-header">
					<a class="close" data-dismiss="modal" aira-label="Close"><span aria-hidden="true">&times;</span></a>
					<h4 class="modal-title" id="editModalLabel">调整用户角色</h4>
				</div>
				<div class="modal-body">
					<p style="display:none;">
						{{ form.id }}
						{{ form.action }}
					</p>
					<p>
						<b>用户名：</b>
						<span id="username"></span>
					</p>
					<p>
						<b>姓名：</b>
						<span id="name"></span>
					</p>
					<p>
						<b>角色：</b>
						{{ form.role }}
					</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default form-clearerrorinfo" data-dismiss="modal">取消</button> {{ form.submit() }}
				</div>
			</form>
		</div>
	</div>
</div>

