<table class="panel-heading" style="width:100%;">
	<tr>
		<td style="text-align:left; padding-left:15px;">
			<h4>数据面板</h4>
		</td>
		<td style="text-align:right; padding-right:15px;">
			<a class="btn btn-primary add" style="height:24px; vertical-align:center; padding-top:0; padding-bottom:0;" href="#" data-toggle="modal" data-target="#editDataModal">添加</a>
			<a class="btn btn-primary import" style="height:24px; vertical-align:center; padding-top:0; padding-bottom:0;" href="#" data-toggle="modal" data-target="#importDataModal">导入</a>
		</td>
	</tr>
</table>
<table class="table">
	<tr>
		<th scope="col">序号</th>
		<th scope="col">监测点</th>
		{% for item in indicators %}
		<th scope="col">
			<span>{{ item.indicatorname }}</span>
			<br>
			<span>({{ item.unit }})</span>
		</th>
		{% endfor %}
		<th scope="col">操作</th>
	</tr>
	{% for plot in plots %}
	<tr scope="row">
		<td>{{ loop.index }}</td>
		<td>
			<span id="plotid" style="display:none;">{{ plot.id }}</span>
			<span id="name">{{ plot.plotname }}</span>
		</td>
		{% for indicator in indicators %}
		{% for data in datas %}
		{% if data.plot==plot %}
		{% if data.indicator==indicator %}
		<td>{{ item.value }}</td>
		{% else %}
		<td>&nbsp;</td>
		{% endif %}
		{% endif %}
		{% endfor %}
		{% endfor %}			
		<td>
			<a class="edit" href="#" data-toggle="modal" data-target="#editDataModal">编辑</a> | 
			<a class="del" href="#" data-toggle="modal" data-target="#delModal">删除</a>
		</td>
	</tr>
	{% endfor %}
</table>
			
