<table class="panel-heading" style="width:100%;">
	<tr><td style="text-align:left; padding-left:15px;"><h4>数据面板</h4></td></tr>
</table>
<table class="table">
	<tr>
		<th scope="col">序号</th>
		<th scope="col">指标名称</th>
		<th scope="col">符号</th>
		<th scope="col">单位</th>
		<th scope="col">类型</th>
		<th scope="col">操作</th>
	</tr>
	{% for indicator in indicators %}
	<tr scope="row">
		<td style="padding-left:15px;">{{ loop.index }}</td>
		<td><span id="indicatorid" style="display:none;">{{ indicator.id }}</span><span id="indicatorname">{{ indicator.indicatorname }}</span></td>
		<td>
			{% if indicator.symbol %}
			<span id="symbol">{{ indicator.symbol }}</span>
			{% endif %}
		</td>
		<td>
			{% if indicator.unit %}
			<span id="unit">{{ indicator.unit }}</span>
			{% endif %}
		</td>
		<td><span id="indicatortype">{{ indicator.indicatortype }}</span></td>
		<td><a class="edit" href="#"  data-toggle="modal" data-target="#editModal" >编辑</a> | <a class="del" href="#" data-toggle="modal" data-target="#delModal" >删除</a></td>
	</tr>
	{% endfor %}
</table>
