<table class="table">
	<tr>
		<th scope="col">序号</th>
		<th scope="col">样地编号</th>
		<th scope="col">区域</th>
		<th scope="col">经度</th>
		<th scope="col">纬度</th>
		<th scope="col">高程</th>
		<th scope="col">采样频率</th>
		<th scope="col">操作</th>
	</tr>
	{% for plot in plots %}
	<tr scope="row">
		<td>{{ loop.index }}</td>
		<td><span id="plotid" style="display:none;">{{ plot.id }}</span><span id="plotname">{{ plot.plotname }}</span></td>
		<td><span id="region">{{ plot.region }}</span></td>
		<td><span id="londegree">{{ plot.londegree }}</span>°<span id="lonminute">{{ plot.lonminute }}</span>'<span id="lonsecond">{{ plot.lonsecond }}</span>"</td>
		<td><span id="latdegree">{{ plot.latdegree }}</span>°<span id="latminute">{{ plot.latminute }}</span>'<span id="latsecond">{{ plot.latsecond }}</span>"</td>
		<td><span id="altitude">{{ plot.altitude }}</span></td>
		<td>1次/<span id="frequency">{{ plot.frequency }}</span>个月</td>
		<td><a class="edit" href="#"  data-toggle="modal" data-target="#editModal" >编辑</a> | <a class="del" href="#" data-toggle="modal" data-target="#delModal" >删除</a></td>
	</tr>
	{% endfor %}
	<tr>
		<td colspan='7'></td>
		<td><a id='btn-add' href="#" data-toggle="modal" data-target="#editModal" >添加样地</a> | <a id='btn-upload' href="#upload">上传样地数据</a> | <a href="{{url_for('soil.clearplots')}}">清空点位数据</a></td>
	</tr>
</table>
