{% extends 'base.html' %}

{% block app_content %}
	<h1>土壤调查样地数据管理</h1>
	<div id='plots'>
	{% include 'soil/_plots.html' %}
	</div>
	<div name='upload' id="uploadform" class="panel panel-default" style="display:none;">
		<div class="panel-heading">数据上传</div>
		<div class="panel-body">
			<form action="" method=post enctype=multipart/form-data>
				<p>
					{{ form.action }}
					<input type=file name=file>
					<input type=submit value="上传"> <input id='upload-cancel' type='button' value='取消'> <button type="button" class="btn btn-default btn-sm" title="请严格按照下载模板格式上传EXCEL数据。其中，区域类型只包含2类：“北仑城区网格化采样”和“城郊乡梯度流域采样”。“样点名称”如果已存在，则对应一条数据将不会被添加，其余数据可照常添加。" data-toggle="tooltip" data-placement="top">上传说明</button>
				</p>
				<p>
					<a target="_blank" href="{{ url_for('soil.download_plotexample') }}">下载模板文件</a>
				</p>
			</form>
		</div>
	</div>
	<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<form action="" method="post">
					{{ form.hidden_tag() }}
					<div class="modal-header">
						<a class="close" data-dismiss="modal" aira-label="Close"><span aria-hidden="true">&times;</span></a>
						<h4 class="modal-title" id="editModalLabel"></h4>
					</div>
					<div class="modal-body">
						<p style="display:none;">
							{{ form.id }}
							{{ form.action }}
						</p>
						<p class="form-validgroup">
							{{ form.plotname.label }}
							{{ form.plotname(size=32) }}
							<span class='form-errorinfo' style="color:red;"></span>
						</p>
						<p>
							{{ form.region.label }}
							{{ form.region }}
						</p>
						<p class="form-validgroup">
							<b>经度</b>
							{{ form.londegree(size=3) }}°{{ form.lonminute(size=2) }}'{{ form.lonsecond(size=7) }}"
							<span class='form-errorinfo' style="color:red;"></span>
						</p>	
						<p class="form-validgroup">
							<b>纬度</b>
							{{ form.latdegree(size=3) }}°{{ form.latminute(size=2) }}'{{ form.latsecond(size=7) }}"
							<span class='form-errorinfo' style="color:red;"></span>
						</p>
						<p class="form-validgroup">
							<b>高程</b>
							{{ form.altitude(size=4) }}
							<span class='form-errorinfo' style="color:red;"></span>
						</p>
						<p class="form-validgroup">
							{{ form.frequency.label }}
							每{{ form.frequency(size=4) }}个月1次
							<span class='form-errorinfo' style="color:red;"></span>
						</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default form-clearerrorinfo" data-dismiss="modal">取消</button>  {{ form.submit() }}
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="modal fade" id="delModal" tabindex="-2" role="dialog" aria-labelledby="delModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<form action="" method="post">
					{{ form.hidden_tag() }}
					<div class="modal-header">
						<a class="close" data-dismiss="modal" aira-label="Close"><span aria-hidden="true">&times;</span></a>
						<h4 class="modal-title" id="delModalLabel">删除确认</h4>
					</div>
					<div class="modal-body">
						<p style="display:none;">
							{{ form.id }}
							{{ form.action }}
						</p>
						<p id="del-message"></p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>  {{ form.submit() }}
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	{{ super() }}
	
	<script type=text/javascript src="{{ url_for('static',filename='soil/plot.js') }}"></script>
	<script type=text/javascript src="{{ url_for('static',filename='formcheck.js') }}"></script>
{% endblock %}
