{% extends 'base.html' %}

{% block app_content %}
<h1>样方管理</h1>
<div id="quadrats">
	{% include 'forest/_quadrats.html' %}
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<a class="close" data-dismiss="modal" aira-label="Close"><span aria-hidden="true">&times;</span></a>
				<h4 class="modal-title" id="myModalLabel">删除确认</h4>
			</div>
			<div class="modal-body">
				<p style="display:none;">
					<span id="del-id"></span></p>
				<p id="del-message"></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				<button id="del-confirm" type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
			</div>
		</div>
	</div>
</div>
<div name="form" id="pnl-form" class="panel panel-default" style="display:none;">
	<div class="panel-heading">添加样方</div>
	<div class="panel-body">
		<form action="" method="post">
			{{ form.hidden_tag() }}
			<p>
				{{ form.number.label }}
				{{ form.number }}
				{% for error in form.number.errors %}
				<span class='error-info' style="color:red;">[{{ error }}]</span>
				{% endfor %}
			</p>
			<p>
				{{ form.plot.label }}
				{{ form.plot }}
				{% for error in form.plot.errors %}
				<span class='error-info' style="color:red;">[{{ error }}]</span>
				{% endfor %}
			</p>
			<p>
				{{ form.submit() }}  <input id="btn-cancel" type="button" value="取消"/>
			</p>
		</form>
	</div>
</div>
{% endblock %}

{% block scripts %}
	{{ super() }}
	<script type=text/javascript src="{{ url_for('static',filename='forest/quadrat.js') }}"></script>
{% endblock %}
