{% extends 'base.html' %}

{% block app_content %}
	<h1>挥发性有机物监测数据</h1>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">数据查询</h3>
		</div>
		<div class="panel-body">
			<form action="" method="post" name="vocdata">
				{{ form.hidden_tag() }}
				<p>
					{{ form.plots.label }}<br>
					{{ form.plots(size=10) }}<br>
					{% for error in form.plots.errors %}
					<span style="color:red;">[{{error}}]</span>
					{% endfor %}
				</p>
				<p>
					{{ form.voctypes.label }}<br>
					{{ form.voctypes(size=20) }}<br>
					{% for error in form.voctypes.errors %}
					<span style="color:red;">[{{error}}]</span>
					{% endfor %}
				</p>
				<p>
					{{ form.starttime.label }}
					{{ form.starttime }}
					{% for error in form.starttime.errors %}
					<span style="color:red;">[{{error}}]</span>
					{% endfor %}
				 </p>
					{{ form.endtime.label }}
					{{ form.endtime }}
					{% for error in form.endtime.errors %}
					<span style="color:red;">[{{error}}]</span>
					{% endfor %}
				</p>
				<p>{{ form.submit() }}</p>
			</form>
		</div>
	</div>
	<div>
		<table class="table">
			<tr>
				<th scope="col">监测时间</th>
				<th scope="col">目标物</th>
				{% for plot in plots %}
				<th scope="col">{{ plot.plotname }}</th>
				{% endfor %}
			<tr>
			{% for datarow in datas %}
			<tr scope="row">
				<td>{{ datarow[0].timestamp.strftime('%Y年%m月' ) }}</td>
				<td>{{ datarow[0].voctype.vocname }}</td>
				{% for plot in plots %}
				<td>
					{% for data in datarow %}
						{% if data.airplot_id==plot.id %}
							{{ "{:.3f}".format(data.value) }}
						{% endif %}
					{% endfor %}
				</td>
				{% endfor %}
			</tr>
			{% endfor %}
		</table>
		{% if prev_url %}
		<a href="{{ prev_url }}">上一页</a>
		{% endif %}
		{% if next_url %}
		<a href="{{ next_url }}">下一页</a>
		{% endif %}
	</div>
	<br>
	<div>
		<a href="{{url_for('air.airdata')}}">常规空气质量监测数据</a> | 
		<a href="{{url_for('air.upload')}}">上传数据</a> | 
		<a href="{{url_for('air.airplots')}}">监测点位管理</a> | 
		<a href="{{url_for('air.clearairdata')}}">清空常规空气质量数据</a> | 
		<a href="{{url_for('air.clearvocdata')}}">清空挥发性有机物数据</a> | 
		<a href="{{url_for('air.clearvoctype')}}">清空VOC类型数据</a>
	</div>
{% endblock %}
