{% extends 'base.html' %}

{% block app_content %}
	<div id="alert" style="display:none;" role="alert"></div>
	<h1>挥发性有机物监测数据</h1>
	<div id="editpnl" class="panel panel-success">
		<table class="panel-heading" style="width:100%;">
			<tr>
				<td style="text-align:left; padding-left:15px;">
					<h4>查询面板</h4>
				</td>
				<td style="text-align:right; padding-right:15px;">
					<img id="pnl-toggle" data-status="open" style="height:24px; vertical-align:center; padding-top:0; padding-bottom:0; width:24px; cursor:pointer;" src="../static/icons/up.png">
				</td>
			</tr>
		</table>
		<div class="panel-body">
			<form action="" method="post" name="vocdata">
				{{ form.hidden_tag() }}
				<table style="width:100%">
					<tr>
						<td style="width:240px; padding:5px;">
							{{ form.plots.label }}<br>
							{{ form.plots(size=20) }}<br>
							{% for error in form.plots.errors %}
							<span style="color:red;">[{{error}}]</span>
							{% endfor %}
						</td>
						<td style="width:240px; padding:5px;">
							{{ form.voctypes.label }}<br>
							{{ form.voctypes(size=20) }}<br>
							{% for error in form.voctypes.errors %}
							<span style="color:red;">[{{error}}]</span>
							{% endfor %}
						</td>
						<td style="width:240px; padding:5px;">
							{{ form.timestamps.label }}<br>
							{{ form.timestamps(size=20) }}<br>
						</td>
					</tr>
					<tr>
						<td style="text-align:left;padding-left:5px;">
							{{ form.submit() }}
						</td>
						<td colspan='2' style="text-align:right; padding-right:5px;">
							<span style="font-size:small; color:#444;">操作说明：按“Ctrl”可多选，按“Shift”可连选.</span>
						</td>
					</tr>
				</table>
			</form>
		</div>
	</div>
	<div id="datas" class="panel panel-success">
		{% include "air/_vocdatas.html" %}
	</div>
	<div id="query" style="display:none;">
		<p id="plots">
			{% for item in plots %}
			<span>{{ item.id }}</span>
			{% endfor %}
		</p>
		<p id="types">
			{% for item in voctypes %}
			<span>{{ item.id }}</span>
			{% endfor %}
		</p>
		<p id="times">
			{% for item in timestrs %}
			<span>{{ item }}</span>
			{% endfor %}
		</p>
	</div>	
	{% include "air/_uploadvocmodal.html" %}
	{% include "air/_editvocmodal.html" %}
	{% include "air/_delvocmodal.html" %}
	<br>
	<div>
		<a href="{{url_for('air.clearairdata')}}">清空常规空气质量数据</a> | 
		<a href="{{url_for('air.clearvoctype')}}">清空VOC类型数据</a>
	</div>
{% endblock %}

{% block scripts %}
	{{ super() }}

	<script type=text/javascript src="{{ url_for('static',filename='air/vocdata.js') }}"></script>
{% endblock %}
