<div class="modal fade" id="delModal" tabindex="-2" role="dialog" aria-labelledby="delModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<a class="close" data-dismiss="modal" aira-label="Close"><span aria-hidden="true">&times;</span></a>
				<h4 class="modal-title" id="delModalLabel">删除流域</h4>
			</div>
			<div class="modal-body">
				<span id="watershedid" style="display:none;"></span>
				<p style="padding-left:20px;">
					<span style="padding-left:20px;">确定删除流域
					<b id='rivername'></b>
					<span>及其所有调查数据</span>
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default form-clearerrorinfo" data-dismiss="modal">取消</button>
				<button id="del-confirm" type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
			</div>
		</div>
	</div>
</div>

