<table class="panel-heading" style="width:100%;">
	<tr>
		<td style="text-align:left; padding-left:15px;">
			<h4>数据面板</h4>
		</td>
		<td style="text-align:right; padding-right:15px;">
			<a class="btn btn-primary" style="height:24px; vertical-align:center; padding-top:0; padding-bottom:0;" id='btn-add' href="#" data-toggle="modal" data-target="#addModal" >添加</a>
		</td>
	</tr>
</table>
<table class="table">
	<tr>
		<th scope="col">序号</th>
		<th scope="col">流域</th>
		<th scope="col">点位名称</th>
		<th scope="col">经度</th>
		<th scope="col">纬度</th>
		<th scope="col">操作</th>
	</tr>
	{% for item in datas %}
	<tr scope="row">
		<td style="padding-left:15px;">{{ loop.index }}</td>
		<td><span id="watershedid" style="display:none;">{{ item.watershed.id }}</span><span id="rivername">{{ item.watershed.rivername }}</span></td>
		<td><span id="plotid" style="display:none;">{{ item.id }}</span><span id="plotname">{{ item.plotname }}</span></td>
		<td><span id="londegree">{{ item.londegree }}</span>°<span id="lonminute">{{ item.lonminute }}</span>'<span id="lonsecond">{{ item.lonsecond }}</span>"</td>
		<td><span id="latdegree">{{ item.latdegree }}</span>°<span id="latminute">{{ item.latminute }}</span>'<span id="latsecond">{{ item.latsecond }}</span>"</td>
		<td><a class="edit" href="#"  data-toggle="modal" data-target="#editModal" >编辑</a> | <a class="del" href="#" data-toggle="modal" data-target="#delModal" >删除</a></td>
	</tr>
	{% endfor %}
</table>

